<!-- 继承公共的 form -->
{{extend name="../../../module/view/form_table/detail" /}}

<!-- 重写数据模块 -->
{{block name="detail_data"}}
    {{:ModuleInclude('public/detail_nav_switch_tabs', [
        'nav_data' => [
            [
                'name' => MyLang('form_base_data_title'),
                'key'  => 'base',
            ],
            [
                'name' => MyLang('common_service.user.detail_platform_title'),
                'key'  => 'platform-data',
            ],
            [
                'name' => '母婴信息',
                'key'  => 'muying-data',
            ]
        ]
    ])}}
    <div class="detail-content-switch-data-item">
        <!-- 父级内容 -->
        <div class="item am-active" data-key="base">
            {__block__}
        </div>

        <!-- 用户平台信息 -->
        <div class="item" data-key="platform-data">
            {{if !empty($data['user_platform_data'])}}
                <div class="am-scrollable-horizontal">
                    <table class="am-table am-table-bordered am-table-striped am-text-nowrap am-margin-bottom-0">
                        <head>
                            <tr>
                                <th>{{:MyLang('common_service.user.detail_system_type')}}</th>
                                <th>{{:MyLang('common_service.user.detail_platform')}}</th>
                                <th>{{:MyLang('common_service.user.detail_alipay_openid')}}</th>
                                <th>{{:MyLang('common_service.user.detail_baidu_openid')}}</th>
                                <th>{{:MyLang('common_service.user.detail_toutiao_openid')}}</th>
                                <th>{{:MyLang('common_service.user.detail_toutiao_unionid')}}</th>
                                <th>{{:MyLang('common_service.user.detail_qq_openid')}}</th>
                                <th>{{:MyLang('common_service.user.detail_qq_unionid')}}</th>
                                <th>{{:MyLang('common_service.user.detail_weixin_openid')}}</th>
                                <th>{{:MyLang('common_service.user.detail_weixin_unionid')}}</th>
                                <th>{{:MyLang('common_service.user.detail_weixin_web_openid')}}</th>
                                <th>{{:MyLang('common_service.user.detail_kuaishou_openid')}}</th>
                            </tr>
                        </head>
                        <tbody>
                            {{foreach $data.user_platform_data as $v}}
                                <tr>
                                    <td>{{$v.system_type}}</td>
                                    <td>{{$v.platform_name}}</td>
                                    <td>{{$v.alipay_openid}}</td>
                                    <td>{{$v.baidu_openid}}</td>
                                    <td>{{$v.toutiao_openid}}</td>
                                    <td>{{$v.toutiao_unionid}}</td>
                                    <td>{{$v.qq_openid}}</td>
                                    <td>{{$v.qq_unionid}}</td>
                                    <td>{{$v.weixin_openid}}</td>
                                    <td>{{$v.weixin_unionid}}</td>
                                    <td>{{$v.weixin_web_openid}}</td>
                                    <td>{{$v.kuaishou_openid}}</td>
                                </tr>
                            {{/foreach}}
                        </tbody>
                    </table>
                </div>
            {{else /}}
                {{:ModuleInclude('public/not_data')}}
            {{/if}}
        </div>

        <!-- 母婴信息 -->
        <div class="item" data-key="muying-data">
            <div class="am-scrollable-horizontal">
                <table class="am-table am-table-bordered am-table-striped am-text-nowrap am-margin-bottom-0">
                    <tbody>
                        <tr>
                            <th style="width:120px;">当前阶段</th>
                            <td>{{if !empty($data['current_stage_text'])}}{{$data.current_stage_text}}{{else /}}未设置{{/if}}</td>
                            <th style="width:120px;">邀请码</th>
                            <td>{{if !empty($data['invite_code'])}}{{$data.invite_code}}{{else /}}未生成{{/if}}</td>
                        </tr>
                        <tr>
                            <th>预产期</th>
                            <td>{{if !empty($data['due_date'])}}{{$data.due_date}}{{else /}}未设置{{/if}}</td>
                            <th>宝宝生日</th>
                            <td>{{if !empty($data['baby_birthday'])}}{{$data.baby_birthday}}{{else /}}未设置{{/if}}</td>
                        </tr>
                        <tr>
                            <th>宝宝月龄</th>
                            <td>{{if !empty($data['baby_month_age'])}}{{$data.baby_month_age}}个月{{else /}}未设置{{/if}}</td>
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>用户标签</th>
                            <td colspan="3">
                                {{if !empty($data['muying_tags'])}}
                                    {{foreach $data.muying_tags as $tag}}
                                        <span style="display:inline-block;padding:2px 8px;margin:2px;border-radius:3px;background:{{$tag.color}};color:#fff;font-size:12px;">{{$tag.name}}</span>
                                    {{/foreach}}
                                {{else /}}
                                    无标签
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <th>运营备注</th>
                            <td colspan="3">{{if !empty($data['admin_remark'])}}{{$data.admin_remark}}{{else /}}无{{/if}}</td>
                        </tr>
                        <tr>
                            <th>邀请关系</th>
                            <td colspan="3">
                                {{if !empty($data['invite_info'])}}
                                    邀请 {{$data.invite_info.invite_count}} 人，获得 {{$data.invite_info.reward_total}} 积分
                                {{else /}}
                                    无邀请记录
                                {{/if}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/block}}