APP_DEBUG = true

[DATABASE]
TYPE = mysql
HOSTNAME = mysql
DATABASE = shopxo_dev
USERNAME = root
PASSWORD = CHANGE_ME_STRONG_PASSWORD
HOSTPORT = 3306
CHARSET = utf8mb4
PREFIX = sxo_

[LANG]
default_lang = zh-cn
