# Development (local)
# copy to .env.development when using uni-app CLI modes
# HBuilderX can also set the same keys in publish/run dialog
UNI_APP_REQUEST_URL=http://localhost:8080/
UNI_APP_STATIC_URL=
