.DS_Store
.hbuilderx/
.vscode/
node_modules/
unpackage/
dist/
miniprogram_npm/
.env
.env.*
!.env*.example
*.log
sitemap.json
.prettierrc.cjs
pages/diy/init_data.js
manifest.local.json
project.private.config.json
manifest.json.bak
